binary/
binary*.iso
binary*.img
binary*.tar*
binary*.contents
binary*.packages
binary*.zsync

.build/
build.log

cache/

chroot/
chroot.packages*
chroot.files*


source/
source*.iso
source*.img
source*.tar*
source*.contents
source*.packages
source*.zsync

live-image-amd64.hybrid.iso
live-image-amd64.hybrid.iso.zsync

live-image-*.contents
live-image-*.files
live-image-*.packages

